.red {
  background: red;
}

.cardstyle {
  border-radius: 50px 50px 50px 50px;
  -moz-border-radius: 50px 50px 50px 50px;
  -webkit-border-radius: 50px 50px 50px 50px;
  border: 0px ridge #4b0557;
  background-color: #6c5670;
}

.center {
  display: block;
  text-align: center;
  color: white;
}

.white {
  color: white;
}
.navcolor {
  background: #33b5e5;
}

.select-font {
  font-family: myFirstFont;
  font-size: 70px;
}

@font-face {
  font-family: myFirstFont;
  src: url(../font-family/CustomCraft-Regular.woff);
}
